/* Stack the boxes on top of each other */
input,
textarea,
select,
label {
    display: block;
}

form input {
    margin-bottom: 1.5rem;
}

label {
    cursor: pointer;
}

input,
select,
textarea {
    font-size: 1.25rem;
    width: 15em;
}

textarea {
    width: 15em;
    height: 10em;
}

input:focus,
textarea:focus {
    background-color: whitesmoke;
}

button {
    font-size: 1.5rem;
    padding: 0.5em 0.75em;
    border: 3px solid;
    border-radius: 0px;
    cursor: pointer;
}

.invalid {
    border: 2px solid red;
}

/* every input followed by a p */
input + p{
display: none;
}

input.invalid + p {
    display: block;
}

.hidden {
    display: none;
}